h2 {
    text-align: center;
}
.lable {
    font: 12px "Microsoft YaHei";
    text-align: center;
    color: #666;
}
p {
    text-indent: 2em;
    font: 16px/26px "Microsoft YaHei";

}
img {
    text-align: center;
}